<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>All Reply</title>
</head>
<body class="bg-primary">
    <!--navbar-->
    <div class="row">
        <div class="col">
            <a class="btn btn-success btn-lg" href="{% url 'name_em_home' %}">Home</a>
        </div>
        <div class="col text-end">
            <a class="btn btn-warning btn-lg" href="{% url 'name_out' %}">Log out</a>
        </div>
    </div>
    <!--navbar-->
    <!-- Hien thi tat ca reply cua nhan vien ban hang nay -->
    <div class="container my-5">
        <table class="table table-striped table-hover bg-light">
            <thead class="table-success">
                <tr>
                    <th scope="col">Reply ID</th>
                    <th scope="col">Customer name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Reply</th>
                </tr>
            </thead>
            <tbody>
                {% for reply in replies %}
                    <tr>
                        <th scope="row">{{reply.id}}</th>
                        <td>{{reply.comment.order.customer.fullname.firstName}}</td>
                        <td>{{reply.comment.content}}</td>
                        <td>{{reply.content}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Het hien thi tat ca reply cua nhan vien ban hang nay -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>